.footer .text {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--foundation-gray-900, #111827);
}
.footer .supporting-text {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .text-and-supporting-text {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.footer .text-31 {
  overflow-wrap: break-word;
  color: white;
  font-weight: bold;
  font-size: 23px;
  margin-left: 20px;
}
.footer .button-base {
  border-radius: 8px;
  background: #EE6611;
  display: flex;
  margin-left: 200px;
  padding: 13px 0.4px 13px 0;
  width: 176px;
  box-sizing: border-box;
}
.button-base:hover{
  background-color: rgb(61, 77, 61);
}
.footer .email-capture {
  margin-top: 7px;
  display: flex;
  width: 400px;
  height: fit-content;
  box-sizing: border-box;
}
.footer .section {
  background: var(--foundation-secondaryorange-50, #FDF0E7);
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px 112px 55px 112px;
  
  box-sizing: border-box;
}
.footer .hertiage-nest-final-logo-11 {
  background: url('../assets/images/hertiage_nest_final_logo_11.png') 50% / cover no-repeat;
  margin-bottom: 16px;
  align-self: flex-start;
  width: 53.3px;
  height: 80px;
}
.footer .supporting-text-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .logo-and-supporting-text {
  margin: 0 87.1px 96px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.footer .heading {
  margin: 0 19.7px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.429;
  color: var(--gray-500, #667085);
}
.footer .text-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link {
  margin-bottom: 12px;
  display: flex;
  box-sizing: border-box;
}
.footer .text-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-1 {
  margin: 0 5.9px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-2 {
  margin: 0 0.9px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-4 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-3 {
  margin: 0 6.7px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-5 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-4 {
  margin: 0 19.1px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-6 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-5 {
  margin-right: 5.6px;
  display: flex;
  box-sizing: border-box;
}
.footer .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.footer .footer-links-column {
  margin-right: 95.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.footer .heading-1 {
  margin: 0 7.3px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.429;
  color: var(--gray-500, #667085);
}
.footer .text-7 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-6 {
  margin: 0 2px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-8 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-7 {
  margin: 0 13.9px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-9 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-8 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .text-10 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-9 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .text-11 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-10 {
  margin-bottom: 12px;
  display: flex;
  box-sizing: border-box;
}
.footer .text-12 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-11 {
  margin-right: 11.2px;
  display: flex;
  box-sizing: border-box;
}
.footer .footer-links-1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.footer .footer-links-column-1 {
  margin-right: 96.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.footer .heading-2 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.429;
  color: var(--gray-500, #667085);
}
.footer .text-13 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-12 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .text-14 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-13 {
  margin: 0 6.4px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-15 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-14 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .text-16 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-15 {
  margin-bottom: 12px;
  display: flex;
  box-sizing: border-box;
}
.footer .text-17 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-16 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .text-18 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-17 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .footer-links-2 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.footer .footer-links-column-2 {
  margin-right: 76.5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.footer .heading-3 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.429;
  color: var(--gray-500, #667085);
}
.footer .text-19 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-18 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .text-20 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-19 {
  margin: 0 8.6px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-21 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-20 {
  margin-bottom: 12px;
  display: flex;
  box-sizing: border-box;
}
.footer .text-22 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-21 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .text-23 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-22 {
  margin: 0 2.7px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-24 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-23 {
  margin-right: 8.6px;
  display: flex;
  box-sizing: border-box;
}
.footer .footer-links-3 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.footer .footer-links-column-3 {
  margin-right: 92.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.footer .heading-4 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.429;
  color: var(--gray-500, #667085);
}
.footer .text-25 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-24 {
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.footer .text-26 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-25 {
  margin: 0 10.9px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-27 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-26 {
  margin: 0 5.8px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-28 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-27 {
  margin-bottom: 12px;
  display: flex;
  box-sizing: border-box;
}
.footer .text-29 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-28 {
  margin: 0 2.4px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.footer .text-30 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600, #475467);
}
.footer .footer-link-29 {
  margin-right: 5.4px;
  display: flex;
  box-sizing: border-box;
}
.footer .footer-links-4 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.footer .footer-links-column-4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.footer .links {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.footer .container-1 {
  margin: 0 70.1px 64px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.footer .footer-text {
  margin-right: 12px;
  width: 1016px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-500, #667085);
}
.footer .vector {
  width: 24px;
  height: 19.5px;
}
.footer .social-icon {
  margin: 2.2px 0 2.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.footer .vector-1 {
  width: 24px;
  height: 24px;
}
.footer .social-icon-1 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.footer .vector-2 {
  width: 24px;
  height: 23.9px;
}
.footer .social-icon-2 {
  margin-bottom: 0.1px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.footer .container {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  width: 120px;
  box-sizing: border-box;
}
.footer .vector-3 {
  width: 16.7px;
  height: 24px;
}
.footer .social-icon-3 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.footer .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 168px;
  height: fit-content;
  box-sizing: border-box;
}
.footer .content {
  border-top: 1px solid var(--foundation-primaryblue-100, #C5E2FF);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 31px 3.7px 0 0;
  width: 1216px;
  height: fit-content;
  box-sizing: border-box;
}
.footer .container-2 {
  display: flex;
  width: 1280px;
  box-sizing: border-box;
}
.footer .section-1 {
  margin: 0 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.footer {
  background: var(--foundation-primaryblue-50, #ECF5FF);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
  
  box-sizing: border-box;
}
